<form>
    <div class="control-group">
        <input type="text" ng-model="currentValue" />
    </div>

    <button class="btn" ng-bind="currentType.name" ng-click="selectType()"></button>
    <button class="btn" ng-bind="currentUnit.short" ng-click="selectUnit()"></button>
</form>

<!-- TODO: Make this a seperare view (type-select) -->
<div ng-show="selectingType">
	<h4>Types</h4>
	<button class="btn" ng-repeat="type in types" ng-bind="type.name" ng-class="{'btn-primary': type == currentType}" ng-click="switchType(type)"></button>
</div>

<!-- TODO: Make this a seperare view (unit-select) -->
<div ng-show="selectingUnit">
	<h4>Convert from</h4>
	<button class="btn" ng-repeat="unit in currentType.units" ng-bind="unit.name + ' (' + unit.short + ')'" ng-class="{'btn-primary': unit == currentUnit}" ng-click="switchUnit(unit)"></button>
</div>

<!-- TODO: Make this a seperate view (results) -->
<h2>Results</h2>
<table class="results table">
	<thead>
		<th ng-bind="currentUnit.short"></th>
		<th ng-bind="currentValue"></th>
	</thead>
	<tr ng-repeat="unit in currentType.units" ng-show="unit != currentUnit">
		<td ng-bind="unit.short"></td>
		<td ng-bind="unit.fromKey()"></td>
	</tr>
</table>
