<div class="app__inner" ng-class="{ 'is-pushed-right': selectingType || selectingUnit }">
	
	<hgroup class="logo">
		<h1 class="logo__main">Scales</h1>
		<h2 class="logo__sub">Unit converter</h2>
	</hgroup>
	
	<!-- TODO: Validate form entry (must be floating point number) -->
	<form name="form" class="form--value" novalidate>
	    <input class="current-value" type="text" id="current-value" ng-model="currentValue" />

	    <button class="btn" ng-bind="currentType.name" ng-click="selectType()"></button>
	    <button class="btn" ng-bind="currentUnit.short" ng-click="selectUnit()"></button>
	</form>

	<!-- TODO: Make this a seperate view (results) -->
	<div class="results">
		<h2 class="is-invisible">Results</h2>
		<table class="results__table">
			<thead class="is-invisible">
				<th>Unit</th>
				<th>Value</th>
			</thead>
			<tr>
				<td class="result-item--current result-item__unit" ng-bind="currentUnit.short"></td>
				<td class="result-item--current result-item__value" ng-bind="currentUnit.fromKey() | number:2"></td>
			</tr>
			<tr class="result-item" ng-repeat="unit in currentType.units" ng-show="unit != currentUnit">
				<td class="result-item__unit" ng-bind="unit.name"></td>
				<td class="result-item__value" ng-bind="unit.fromKey() | number:2"></td>
			</tr>
		</table>
	</div>

</div> <!-- .app__inner -->

<!-- TODO: Make this a seperare view (type-select) -->
<div ng-class="{ 'is-active': selectingType }" class="popup popup--type">
	<h4 class="is-invisible">Types</h4>
	<button class="button button--select" ng-repeat="type in types" ng-bind="type.name" ng-class="{'is-current': type == currentType}" ng-click="switchType(type)"></button>
</div>

<!-- TODO: Make this a seperare view (unit-select) -->
<div ng-class="{ 'is-active': selectingUnit }" class="popup popup--unit">
	<h4 class="is-invisible">Convert from</h4>
	<button class="button button--select" ng-repeat="unit in currentType.units" ng-bind="unit.name + ' (' + unit.short + ')'" ng-class="{'is-current': unit == currentUnit}" ng-click="switchUnit(unit)"></button>
</div>